<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <%= image_tag "app-logo.png", class:"w-full", alt:'TAC'%>
  <div class="px-6 py-4">
    <div class="font-medium text-black">Şifrenizi sıfırlayın</div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field pt-4">
          <%= f.label :password, "Lütfen yeni şifrenizi girin:" %>
          <% if @minimum_password_length %>
          <br><em>(en az <%= @minimum_password_length %> karakter)</em><br/>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:'reset-password-fields' %>
        </div>

        <div class="field pt-4">
          <%= f.label :password_confirmation, "Lütfen yeni şifrenizi doğrulayın:" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'reset-password-fields'%>
        </div>
        <div class="actions pt-4 place-items-stretch">
          <%= f.submit "Şifremi değiştir", style:"background-color: #E30613", class:'reset-password-button'%>
        </div>  
      <% end %>
  </div>
</div>